<div class="row min-vh-100 main-bg">
  <div class="container my-5 card">
    <h1 class="text-center display-4 mb-5">My Progress</h1>
    <div class="row">
      <div class="col-12 col-md-6 mb-4">
        <div class="card h-100 border-0 shadow progress-card">
          <div class="card-header text-white">
            <h2 class="m-0">Achievements</h2>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Badge: First Workout</li>
            <li class="list-group-item">Badge: Consistent - 7 Days Streak</li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-4">
        <div class="card h-100 border-0 shadow progress-card">
          <div class="card-header text-white">
            <h2 class="m-0">Workout Stats</h2>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Total Workout Time: 20 hours</li>
            <li class="list-group-item">Total Running Time: 8 hours</li>
            <li class="list-group-item">Total Cycling Time: 5 hours</li>
            <li class="list-group-item">Total Weight Lifting Time: 7 hours</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 mb-4">
        <div class="card h-100 border-0 shadow progress-card">
          <div class="card-header text-white">
            <h2 class="m-0">Personal Records</h2>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Fastest 5K: 22 minutes</li>
            <li class="list-group-item">Longest run: 15 miles</li>
          </ul>
        </div>
      </div>
    </div>
    <app-goals></app-goals>
    <div class="col-12">
      <svg class="progress-ring" width="200" height="200">
        <circle class="progress-ring__circle" stroke="lightgrey" stroke-width="30" fill="transparent" r="82" cx="100" cy="100" />
        <circle class="progress-ring__circle progress-ring__circle--value" stroke="Green" stroke-width="30" [attr.stroke-dasharray]="circumference" [attr.stroke-dashoffset]="strokeDashoffset" fill="transparent" r="82" cx="100" cy="100" />
      </svg>
      <span class="progress-value h3 font-weight-bold">{{progressValue}}<sup class="small">%</sup></span>
    </div>
  </div>
</div>
