<div class="row min-vh-100 login-bg">
  <div class="col"></div>
  <div class="col-12 col-xl-10 col-xxl-8 p-0">
    <div class="card min-vh-100">
      <div class="card-body">

        <form [formGroup]="workoutForm" (ngSubmit)="editingName = false">
          <div class="row justify-content-center text-center">
            <div class="col-8">
              <div class="input-group" *ngIf="editingName">
                <input type="text" class="form-control form-control-lg text-center" formControlName="name" placeholder="Workout Name">
                <button class="btn btn-outline-secondary" type="submit">Done</button>
              </div>
              <h1 class="display-4" *ngIf="!editingName">{{name.value}} <fa-icon [icon]="faEdit" (click)="editingName = true;" style="cursor: pointer; font-size: 2rem;"></fa-icon></h1>
            </div>
          </div>
        </form>

        <form [formGroup]="workoutForm">
          <div class="row">
            <div class="col">
              <div class="accordion">
                
                <span formArrayName="groups">
                  <div class="accordion-item" *ngFor="let group of groups.controls; let i = index" [formGroupName]="i">
                    <h2 class="accordion-header">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        {{getGroupAt(i).get('groupType').value}}
                      </button>
                    </h2>
                    <div class="accordion-collapse collapse show">
                      <div class="accordion-body">
                        <label>Exercise Group Type</label>
                        <select class="form-select form-select-lg" formControlName="groupType">
                          <option disabled value="">Select Exercise Group Type</option>
                          <option value="cardio">Cardio</option>
                          <hr>
                          <option value="abdominals">Abdominals</option>
                          <option value="back">Back</option>
                          <option value="biceps">Biceps</option>
                          <option value="calves">Calves</option>
                          <option value="chest">Chest</option>
                          <option value="glutes">Glutes</option>
                          <option value="hamstrings">Hamstrings</option>
                          <option value="quads">Quads</option>
                          <option value="shoulders">Shoulders</option>
                          <option value="triceps">Triceps</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </span>

                <div class="row justify-content-center">
                  <div class="col-6 text-center">
                    <button type="button" class="btn btn-lg btn-primary">Add Workout Group +</button>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col"></div>
</div>