<div class="row main-bg">
  <div class="col d-none d-xl-block p-0 p-xl-1">
    <div class="card">
      <div class="card-header text-center">
        <h3>Equipment</h3>
      </div>
      <div class="card-body">

        <div class="row">
          <div class="col" [formGroup]="workoutForm">
            <h5>Equipment Group <fa-icon class="text-primary" [icon]="faInfoCircle" title="New exercises that are added will be filtered by what equipment you have selected in your equipment group" (click)="showInfo = !showInfo" style="cursor: pointer;"></fa-icon></h5>
            <div *ngIf="showInfo" class="card card-body bg-primary bg-gradient text-light rounded-5">
              <label>New exercises that are added will be filtered by what equipment you have selected in your equipment group</label>
            </div>
            <div class="d-flex align-bottom">
              <select class="form-select mb-2" formControlName="equipment" (click)="showInfo = false" (change)="updateEquipmentList()">
                <option value="" disabled>Select Equipment Group</option>
                <option selected value="*">All</option>
                <option *ngFor="let group of equipmentGroups" [value]="group.equipment">{{group.name}}</option>
              </select>
              <fa-icon class="text-success ps-1 m-auto" [icon]="faPlusCircle" title="Add Equipment Group" (click)="addEquipmentGroup()" style="cursor: pointer; font-size: 1.2rem"></fa-icon>
            </div>
            
            <hr>
            <div class="d-flex justify-content-end">
              <fa-icon [icon]="faEdit" (click)="editEquipmentGroup()" title="Edit Equipment Group" style="cursor: pointer; font-size: 1.2rem"></fa-icon>
            </div>
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let equip of equipment">{{equip|titlecase}}</li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-12 col-xl-8 col-xxl-6 p-0">
    <div class="card min-vh-100">
      <div class="card-body">
        <div class="row justify-content-between">
          <div class="col-auto">
            <button *ngIf="editingWorkout" class="btn btn-danger" (click)="deleteWorkout()">Delete</button>
          </div>
          <div class="col-auto">
            <button class="btn btn-success" (click)="saveWorkout()">Save</button>
          </div>
        </div>
        <form [formGroup]="workoutForm" (ngSubmit)="editingName = name.valid ? false : true">
          <div class="row justify-content-center text-center">
            <div class="col-8">
              <div class="input-group" *ngIf="editingName">
                <input type="text" class="form-control form-control-lg text-center" formControlName="name" placeholder="Enter Workout Name" [class.is-invalid]="name.invalid && name.touched">
                <button class="btn btn-outline-secondary" type="submit">Done</button>
              </div>
              <small class="mt-2" *ngIf="name.invalid && name.touched" class="text-danger">Name is required</small>
              <h1 class="display-4" *ngIf="!editingName">{{name.value}} <fa-icon [icon]="faEdit" (click)="editingName = true;" style="cursor: pointer; font-size: 2rem;"></fa-icon></h1>
            </div>
          </div>
        </form>
        <hr class="mb-5">
        <span class="d-flex justify-content-center mb-3">
          <div *ngIf="loading" class="spinner-border text-success" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </span>
        <div class="col d-block d-xl-none d-xl-block p-0 p-xl-1 mb-3">
          <div class="card">
            <div class="card-header text-center" style="cursor: pointer;" (click)="hideEquipment = !hideEquipment">
              <h3>Equipment <span style="float: right"><span *ngIf="!hideEquipment">▲</span><span *ngIf="hideEquipment">▼</span></span></h3>
            </div>
            <div *ngIf="!hideEquipment" class="card-body" [@slideOutAnimation]>
              <div class="row">
                <div class="col" [formGroup]="workoutForm">
                  <h5>Equipment Group <fa-icon class="text-primary" [icon]="faInfoCircle" title="New exercises that are added will be filtered by what equipment you have selected in your equipment group" (click)="showInfo = !showInfo" style="cursor: pointer;"></fa-icon></h5>
                  <div *ngIf="showInfo" class="card card-body bg-primary bg-gradient text-light rounded-5 mb-2">
                    <label>New exercises that are added will be filtered by what equipment you have selected in your equipment group</label>
                  </div>
                  <div class="d-flex align-bottom">
                    <select class="form-select mb-2" formControlName="equipment" (click)="showInfo = false" (change)="updateEquipmentList()">
                      <option value="" disabled>Select Equipment Group</option>
                      <option selected value="*">All</option>
                      <option *ngFor="let group of equipmentGroups" [value]="group.equipment">{{group.name}}</option>
                    </select>
                    <fa-icon class="text-success ps-1 m-auto" title="Add Equipment Group" [icon]="faPlusCircle" (click)="addEquipmentGroup()" style="cursor: pointer; font-size: 1.2rem"></fa-icon>
                  </div>
                  
                  <hr>
                  <div class="d-flex justify-content-end">
                    <fa-icon [icon]="faEdit" (click)="editEquipmentGroup()" title="Edit Equipment Group"  style="cursor: pointer; font-size: 1.2rem"></fa-icon>
                  </div>
                  <ul class="list-group">
                    <li class="list-group-item" *ngFor="let equip of equipment">{{equip|titlecase}}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <form [formGroup]="workoutForm" [@slideOutAnimation]>
          <div class="row mb-4 justify-content-center">
            <div class="col-auto">
              <label>Workout Description</label>
              <textarea rows="2" cols="100" class="form-control" placeholder="Enter description here..." formControlName="description"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <accordion [isAnimated]="true" formArrayName="groups">
                <accordion-group [heading]="getGroupAt(i).get('groupType').value|titlecase" [isOpen]="getGroupAt(i).get('groupType').value == 'New Group'"
                  *ngFor="let group of groups.controls; let i = index" [formGroupName]="i">
                  <div class="row mb-4">
                    <div class="col">
                      <label>Exercise Group Type</label>
                      <select class="form-select form-select-lg" formControlName="groupType" (change)="getExercises(i)">
                        <option disabled value="">Select Exercise Group Type</option>
                        <option value="cardio">Cardio</option>
                        <hr>
                        <option value="abdominals">Abdominals</option>
                        <option value="back">Back</option>
                        <option value="biceps">Biceps</option>
                        <option value="calves">Calves</option>
                        <option value="chest">Chest</option>
                        <option value="glutes">Glutes</option>
                        <option value="hamstrings">Hamstrings</option>
                        <option value="quads">Quads</option>
                        <option value="shoulders">Shoulders</option>
                        <option value="triceps">Triceps</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <h4 *ngIf="getGroupAt(i).get('groupType').value != 'New Group'">Exercises:</h4>
                    </div>
                  </div>
                  <div class="row mb-2">
                    <div class="col">
                      <ol class="list-group list-group-numbered" formArrayName="exercises">
                        <li class="list-group-item" *ngFor="let ex of getExercisesAt(i).controls; let j = index" [formGroupName]="j">
                          <span class="display-6">{{ex.value.name}}</span>
                          <span class="float-end"><fa-icon [icon]="faX" (click)="removeExerciseAt(i, j)" style="cursor: pointer; font-size: 1.3rem;"></fa-icon></span>
                          <hr>
                          <p><strong>Instructions: </strong> {{ex.value.instructions}} </p>
                          <p *ngIf="ex.value.secondaryMuscles"><strong>Secondary Muscles: </strong> {{ex.value.secondaryMuscles|titlecase}} </p>
                          <hr>
                          <div class="row justify-content-center mt-3 mb-3">
                            <div class="col-12 col-lg-6">
                              <div class="row">
                                <div class="col-4 mb-2 offset-2 col-xl-3">
                                  <label class="fw-bold">Sets</label>
                                  <input type="number" min="1" class="form-control" formControlName="sets" placeholder="3">
                                </div>
                                <div class="fw-bold col-1 d-flex flex-column justify-content-center text-center">
                                  X
                                </div>
                                <div class="col-4 col-xl-3">
                                  <label class="fw-bold">Reps</label>
                                  <input type="number" min="1" class="form-control" formControlName="reps" placeholder="10">
                                </div>
                              </div>
                            </div>
                            <div class="col-12 col-xl-6">
                              <div class="">
                                <textarea rows="3" class="form-control" formControlName="notes" placeholder="Notes"></textarea>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ol>
                    </div>
                  </div>
                  <div class="row justify-content-center">
                    <button *ngIf="getGroupAt(i).get('groupType').value != 'New Group'" class="col-auto btn btn-primary" (click)="this.addMuscleExerciseAt(i)">Add Exercise</button>
                  </div>
                  <div class="row justify-content-end pe-2">
                    <button class="col-auto btn btn-sm btn-danger" (click)="removeGroupAt(i)">Remove Group</button>
                  </div>

                </accordion-group>
              </accordion>
              <div class="row mt-2 justify-content-center">
                <div class="col-6 text-center">
                  <button type="button" (click)="addGroup()" class="btn btn-lg btn-primary">Add Workout Group +</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col d-none d-xxl-block"></div>
</div>