<div class="row min-vh-100 main-bg">
  <div class="col"></div>
  <div class="col-12 col-xl-10 col-xxl-8 p-0">
    <div class="card no-border min-vh-100">
      <div class="text-center page-header-1">
        <h1 class="display-4">My Workouts</h1>
      </div>
      <div class="card-body">
        <!--TODO Create list of workouts here-->
        <span class="d-flex justify-content-center">
          <div *ngIf="loading" class="spinner-border text-success" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </span>
        <div class="row row-cols-1 row-cols-lg-2 row-cols-xxl-3 g-4 p-0 p-sm-1 p-md-2 p-lg-5">
          <div class="col card-new-workout" *ngFor="let workout of workouts">
            <div class="card h-100" (click)="openWorkout(workout)">
              <div class="card-body">
                <h5 class="card-title">{{workout.name}}</h5>
                <p class="card-text">
                  Here is the description of the workout.
                </p>
              </div>
              <div class="card-body pb-2"><h6 class="m-0 p-0">Muscle Groups</h6></div>
              <ul class="list-group list-group-flush">
                <li *ngFor="let group of workout.groups" class="list-group-item">{{group.groupType|titlecase}}</li>
              </ul>
              <!-- <div class="card-footer text-center">
                <button class="btn btn-success">View Workout</button>
              </div> -->
            </div>
          </div>
          <div class="col card-new-workout" (click)="newWorkout()">
            <div class="card h-100">
              <div class="card-body">
                <div class="d-flex justify-content-center align-items-center h-100 w-100">
                  <div class="text-center">
                    <fa-icon [icon]="faPlusCircle" style="font-size: 3rem"></fa-icon>
                    <div>New Workout</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col"></div>
</div>