.card-new-workout {
    transition: 0.2s;
}

.card-new-workout .card{
    transition: 0.2s;
}

.card-new-workout:hover {
    transform: scale(1.02);
    color: green;
}

.card-new-workout:hover .card{
    border-color: green;
    background-color: rgb(235, 255, 229);
}