<div class="row min-vh-100 login-bg">
  <div class="col"></div>
  <div class="col-12 col-xl-10 col-xxl-8 p-0">
    <div class="card min-vh-100">
      <div class="card-body">
        <div class="text-center">
          <h1 class="display-4">My Workouts</h1>
        </div>
        <!--TODO Create list of workouts here-->
        <div class="row row-cols-1 row-cols-lg-2 row-cols-xxl-3 g-4 p-5">
          <div class="col card-new-workout">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">Workout 1</h5>
                <p class="card-text">
                  Here is the description of the workout.
                </p>
              </div>
              <div class="card-body pb-2"><h6 class="m-0 p-0">Muscle Groups</h6></div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
              </ul>
              <!-- <div class="card-footer text-center">
                <button class="btn btn-success">View Workout</button>
              </div> -->
            </div>
          </div>
          <div class="col card-new-workout" (click)="newWorkout()">
            <div class="card h-100">
              <div class="card-body">
                <div class="d-flex justify-content-center align-items-center h-100 w-100">
                  <div class="text-center">
                    <fa-icon [icon]="faPlusCircle" style="font-size: 3rem"></fa-icon>
                    <div>New Workout</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col"></div>
</div>