<div class="row min-vh-100 main-bg">
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-6" style="margin: 0 auto;">
        <!-- Center column containing the social feed -->
        <div class="card border-dark mb-3 post-card" *ngFor="let post of feed; let i = index">
          <div class="card-header post-header text-white">
            <a class="link-light" routerLink="/profile/{{post.profileHandle}}" style="font-size: 1.2rem">@{{post.profileHandle}}</a>
            <small> - Posted on {{post.postDateString}}</small>
          </div>
          <div class="card-body">
            <div *ngIf="post.postImg" class="post-img-wrapper">
              <img class="img-fluid post-img easeload" onload="this.style.opacity=1" src="{{post.postImg}}" alt="Post Image" loading="lazy">
            </div>
            <hr *ngIf="post.postImg" class="mt-0 mb-3">
            <div class="post-text">
              <p>{{post.postText}}</p>
            </div>
            <div class="text-center text-decoration-underline" *ngIf="post.workoutData" style="font-size: 1.1rem">Shared Workout</div>
            <div class="row justify-content-center mb-3" *ngIf="post.workoutData" style="height: 10%">
              <div class="card-new-workout">
                <div class="card border-success card-social-feed-workout" (click)="openWorkout(post.postWorkout)">
                  <div class="card-body row">
                    <div class="col border-end">
                      <strong style="font-size: 1.1rem">{{post.workoutData.name}}</strong>
                      <p class="card-text">
                        {{post.workoutData.description}}
                      </p>
                    </div>
                    <div class="col-auto">
                      <h6 class="m-0 p-0">Muscle Groups</h6>
                      <ul class="list-group list-group-flush ">
                        <li *ngFor="let group of post.workoutData.groups" class="list-group-item bg-transparent">{{group.groupType|titlecase}}</li>
                      </ul>
                    </div>
                  </div>

                  <!-- <div class="card-footer text-center">
                    <button class="btn btn-success">View Workout</button>
                  </div> -->
                </div>
              </div>
            </div>
            <span class="text-success" style="font-size: 1.1rem;">
              <p *ngIf="post.postLikeCount == 1"><strong>{{post.postLikeCount}}</strong> Like</p>
              <p *ngIf="post.postLikeCount > 1 || post.postLikeCount == 0"><strong>{{post.postLikeCount}}</strong> Likes</p>
            </span>
            <div class="d-flex mb-1">
              <div (click)="toggleLikePost(post)" class="btn-grow">
                <fa-icon *ngIf="!post.postLikeOwners.includes(this.profileHandle)" class="btn-like" title="Like Post" [icon]="faHeartOutline"></fa-icon>
                <fa-icon *ngIf="post.postLikeOwners.includes(this.profileHandle)" class="btn-like" title="Unlike Post" [icon]="faHeartSolid"></fa-icon>
              </div>
              <div class="btn-grow ms-3">
                <fa-icon [icon]="faComment" class="btn-comment" (click)="post.commentOpen = true"></fa-icon>
              </div>
            </div>
            <div class="position-relative" *ngIf="post.commentOpen" [@slideOutAnimation]>
              <div style="float: right" class="cancel-comment" (click)="post.commentOpen = false"><fa-icon [icon]="faXmarkCircle"></fa-icon></div>
              <form (ngSubmit)="comment(post)" class="p-0 m-0">
                <div class="input-group mb-3">
                  <textarea class="form-control" rows="3" placeholder="Reply to @{{post.profileHandle}}'s post..." [(ngModel)]="post.commentText" [ngModelOptions]="{standalone: true}"></textarea>
                  <button type="submit" class="btn btn-secondary" title="Post Comment" value="Comment" (click)="comment(post)"><fa-icon [icon]="faPaperPlane"></fa-icon></button>
                </div>
              </form>
            </div>
            <label *ngIf="post.postComments.length > 1">Comments</label>
            <div class="row">
              <div class="col">
                <ul class="list-group" *ngFor="let comment of post.postComments | orderBy: '-commentTimeStamp'; let i = index">
                  <div class="list-group-item" *ngIf="comment.commentOwner">
                    <div class="d-flex w-100 justify-content-between">
                      <a routerLink="/profile/{{comment.commentOwner}}">@{{comment.commentOwner}}</a>
                      <small>{{comment.commentTimeStamp.toDate().toDateString()}}</small>
                    </div>
                    <hr>
                    <p>{{comment.commentText}}</p>
                    <div (click)="toggleLikeComment(post, comment, post.postComments.length-1 - i)" class="btn-grow" style="font-size: 1rem;">
                      <fa-icon *ngIf="!comment.commentLikeOwners.includes(this.profileHandle)" class="btn-like" title="Like Comment" [icon]="faHeartOutline"></fa-icon>
                      <fa-icon *ngIf="comment.commentLikeOwners.includes(this.profileHandle)" class="btn-like" title="Unlike Comment" [icon]="faHeartSolid"></fa-icon>
                      <span class="text-success ms-2 p-0" style="font-size: 0.9rem;">
                        <label *ngIf="post.postLikeCount == 1"><strong>{{comment.commentLikeCount}}</strong> Like</label>
                        <label *ngIf="post.postLikeCount > 1 || post.postLikeCount == 0"><strong>{{comment.commentLikeCount}}</strong> Likes</label>
                      </span>
                    </div>
                  </div>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>