<div class="row min-vh-100 main-bg">
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-3">
        <!-- Left column: can be used for additional content or navigation -->
      </div>
      <div class="col-md-6">
        <!-- Center column containing the social feed -->
        <div class="card border-dark mb-3 post-card" *ngFor="let post of feed">
          <div class="card-header post-header text-white">
            <a class="link-light" routerLink="profile/{{post.profileHandle}}" style="font-size: 1.2rem">@{{post.profileHandle}}</a>
            <small> - Posted on {{post.postDateString}}</small>
          </div>
          <div class="card-body">
            <div *ngIf="post.postImg" class="post-img-wrapper">
              <img class="img-fluid post-img easeload" onload="this.style.opacity=1" src="{{post.postImg}}" alt="Post Image" loading="lazy">
            </div>
            <hr *ngIf="post.postImg" class="mt-0 mb-3">
            <div class="post-text">
              <p>{{post.postText}}</p>
            </div>
            <textarea class="form-control mb-2" rows="3" placeholder="Reply to @{{post.profileHandle}}'s post..."></textarea>
            <div class="d-flex mb-1">
              <span (click)="toggleLike(post)">
                <button *ngIf="!post.postLikeOwners.includes(this.profileHandle)" class="btn btn-outline-success">{{post.postLikeCount}} Like</button>
                <button *ngIf="post.postLikeOwners.includes(this.profileHandle)" class="btn btn-success">{{post.postLikeCount}} Unlike</button>
              </span>
              <button class="btn btn-outline-secondary ms-2">Comment</button>
            </div>
            <label>Comments</label>
            <div class="row">
              <div class="col-10">
                <span *ngFor="let comment of post.postComments | orderBy: '-commentTimeStamp'">
                  <div class="card mb-1" *ngIf="comment.commentOwner">
                    <div class="card-header">
                      <a routerLink="profile/{{comment.profileHandle}}">@{{comment.commentOwner}}</a>
                      <small> - {{comment.commentTimeStamp.toDate().toDateString()}}</small>
                    </div>
                    <div class="card-body">
                      <p>{{comment.commentText}}</p>
                        <button *ngIf="!post.postLikeOwners.includes(this.profileHandle)" class="btn btn-outline-success">{{comment.commentLikeCount}} Like</button>
                        <button *ngIf="post.postLikeOwners.includes(this.profileHandle)" class="btn btn-success">{{comment.commentLikeCount}} Unlike</button>
                    </div>
                  </div>
                </span>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <!-- Right column: can be used for additional content or navigation -->
      </div>
    </div>
  </div>
</div>
