<div class="row min-vh-100 main-bg">
  <div class="container mt-4">
    <div class="row">
      <div class="col-10 col-xl-10 min-vh-100 d-flex" style="margin: 0 auto;">
        <div class="card w-100 min-vh-100 flex-column mb-5 display-4" style="border: none;">
          <div class="card-header" style="background-color: rgba(9, 106, 46, 1);">
            <div>
              <div class="row flex-row">
                <div class="card col-md-3" style="padding-left: 1%; background:none; border:none;">
                  <button class="btn zoom-btn btn-outline-success w-100" display="flex-row" style="margin: 5px; z-index: 1; background-color: #b0dfba;" data-mdb-ripple-color="dark" (click)="showFollowers()">
                    <h5 style="text-align: center;">{{profile.followers.length}}</h5>
                    <p class="mb-1 h5 no-wrap">Followers</p>
                  </button>
                  <button class="btn zoom-btn btn-outline-success w-100" display="flex-row" style="margin: 5px; z-index: 1; background-color: #b0dfba;" data-mdb-ripple-color="dark" (click)="showFollowing()">
                    <h5>{{profile.following.length}}</h5>
                    <p class="mb-1 h5 no-wrap">Following</p>
                  </button>
                  <hr>
                  <div *ngIf="userProfile">
                    <button class="btn zoom-btn btn-outline-success w-100" display="flex-row" style="margin: 5px; margin-bottom: 10px; background-color: #b0dfba;" data-mdb-ripple-color="dark" routerLink="/profile/{{profile.profileHandle}}/edit-profile" id="editProfile">
                      <h5 class="mb-1 no-wrap">Edit Profile</h5>
                    </button>
                  </div>
                  <div *ngIf="!userProfile">
                    <button class="btn zoom-btn btn-outline-success w-100" display="flex-row" style="margin: 5px; margin-bottom: 10px; background-color: #b0dfba;" data-mdb-ripple-color="dark" *ngIf="!checkFollowers()" (click)="addToFollowing()">
                      <h5>Follow+</h5>
                    </button>
                    <button class="btn zoom-btn btn-outline-success w-100" display="flex-row" style="margin: 5px; margin-bottom: 10px; background-color: #b0dfba;" data-mdb-ripple-color="dark" *ngIf="checkFollowers()" (click)="removeFromFollowing()">
                      <h5>Unfollow-</h5>
                    </button>
                  </div>
                </div>
                <div class="col-md-2  mt-5 no-wrap" style="padding-right: auto; background: none; border:none;">
                  <h5 class="no-wrap text-truncate" style="text-align: right;">@{{profile.profileHandle}}</h5>
                  <p class="no-wrap" style="font-size: 24px; text-align: right;">{{profile.age}}</p>
                  <p class="no-wrap" style="font-size: 24px; text-align: right;">{{profile.heightFeet}}' {{profile.heightInches}}"</p>
                  <p class="no-wrap" style="font-size: 24px; text-align: right;">{{profile.weight}} lbs.</p>
                </div>
                <div class="col-md-2 d-flex align-items-center justify-content-start min-vw-25">
                  <img class="img-fluid" src="https://nwfblogs.wpenginepowered.com/wp-content/blogs.dir/11/files/2012/11/Turkey_strut-494x620.jpg"
                  alt="Generic placeholder image" display="flex-row" style="margin: 0; align-content: center; max-width: 350px; max-height: 350px; overflow: hidden; z-index: 1;">
                </div>
                <div class="card no-wrap col-md-5 text-center mt-1" style=" background-color: rgba(255, 255, 255, 0.1); border: none;">
                  <div class="card-header display-4 no-wrap" display="flex-row" style="padding: 5%; background: none;">About</div>
                  <p style="font-size: 24px;">{{profile.about}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-5">
            <div class="card d-flex col-lg-5 mb-5" style="text-align: center; margin: 0 auto; background-color: rgba(32, 61, 28, 0.1); border: none;">
              <div class="card-header display-4 mb-2" style="background: none;">
                Posts
              </div>
              <div *ngIf="!profile.posts">
                <p class="display-6" style="margin: auto;">This user hasn't made any posts yet!</p>
              </div>
              <div class="card-body mt-2">
                <div class="row g-2 mb-2">
                  <div class="card d-flex col-lg-5 mb-2 min-vw-50 min-vh-50" style="padding: 5%; text-align: center; font-size: 24px; margin: 0 auto; background-color: rgba(255, 255, 255, 0.8)" *ngIf="profile.posts[profile.posts.length - 1]">
                    {{profile.posts[profile.posts.length - 1]}}
                  </div>
                  <div class="card d-flex col-lg-5 mb-2 min-vw-50 min-vh-50" style="padding: 5%; text-align: center; font-size: 24px; margin: 0 auto; background-color: rgba(255, 255, 255, 0.8)" *ngIf="profile.posts[profile.posts.length - 2]">
                    {{profile.posts[profile.posts.length - 2]}}
                  </div>
                </div>
                <div class="row g-2 mg-2">
                  <div class="card d-flex col-lg-5 mb-2 min-vw-50 min-vh-50" style="padding: 5%; text-align: center; font-size: 24px; margin: 0 auto; background-color: rgba(255, 255, 255, 0.8)" *ngIf="profile.posts[profile.posts.length - 3]">
                    {{profile.posts[profile.posts.length - 3]}}
                  </div>
                  <div class="card d-flex col-lg-5 mb-2 min-vw-50 min-vh-50" style="padding: 5%; text-align: center; font-size: 24px; margin: 0 auto; background-color: rgba(255, 255, 255, 0.8)" *ngIf="profile.posts[profile.posts.length - 4]">
                    {{profile.posts[profile.posts.length - 4]}}
                  </div>
                </div>
              </div>
              <div class="card-footer" style="background: none;">
                <div *ngIf="userProfile">
                  <button type="button" id="createPost" class="btn zoom-btn btn-outline-success" routerLink="/profile/{{profile.profileHandle}}/create-post" data-mdb-ripple-color="dark" style="background-color: #b0dfba; margin: 0 auto; margin-top: 20px; position: 0;">Create Post+</button>
                </div>
              </div>
            </div>
            <div class="card d-flex col-lg-5 mb-5" style="text-align: center; margin: 0 auto; background-color: rgba(32, 61, 28, 0.1); border: none;">
              <div class="card-header display-4 mb-2" style="background: none;">
                Recent Workouts
              </div>
              <div class="card-body mt-2">
                <div class="row g-2 mb-2">
                  <div class="card d-flex col-lg-5 mb-2 w-50">
                    <img src="https://th.bing.com/th/id/OIP.8XLECwYGdt3DBa45yi83RAHaE8?pid=ImgDet&rs=1"
                      alt="image 1" class="w-100 rounded-3 mt-1">
                      <p style="font-size: 24px;">Bies and Tries Day</p>
                  </div>
                  <div class="card d-flex col-lg-5 mb-2 w-50">
                    <img src="https://boxlifemagazine.com/wp-content/uploads/2019/08/Dumbbell-Workouts.jpg"
                      alt="image 1" class="w-100 rounded-3 mt-1">
                      <p style="font-size: 24px;">Back and Core Day</p>
                  </div>
                </div>
                <div class="row g-2">
                  <div class="card d-flex col-lg-5 mb-2 w-50">
                    <img src="https://astr.tv/wp-content/uploads/2020/03/workouts-routines.jpg"
                      alt="image 1" class="w-100 rounded-3 mt-1">
                      <p style="font-size: 24px;">Leg Day</p>
                  </div>
                  <div class="card d-flex col-lg-5 mb-2 w-50">
                    <img src="https://th.bing.com/th/id/R.e3aed13bfaf0fc34a85a2cd2782d769c?rik=5O8gO%2fHcbPfDKA&riu=http%3a%2f%2fi.huffpost.com%2fgen%2f1319881%2fimages%2fo-GYM-facebook.jpg&ehk=2lQVG9Kib9F4TpgQEoPqDYTxh2UANAMiGGxiaQSkx7w%3d&risl=&pid=ImgRaw&r=0"
                      alt="image 1" class="w-100 rounded-3 mt-1">
                      <p style="font-size: 24px;">Cardio Day</p>
                  </div>
                </div>
              </div>
              <div class="card-footer" style="background: none;">
                <div *ngIf="userProfile">
                  <button type="button" id="createWorkout" class="btn zoom-btn btn-outline-success" routerLink="/my-workouts/create" data-mdb-ripple-color="dark" style="background-color: #b0dfba; margin: 0 auto; margin-top: 20px;">Create Workout+</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Followers modal-->
<div #followersModal class="modal">
  <div class="modal-header">
    @{{profile.profileHandle}}'s Followers
  </div>
  <div class="modal-body">
    <li *ngFor="let follower of profile.followers">
      <button class="btn zoom-btn btn-outline-success" style="margin: 3px; z-index: 1; background-color: #b0dfba;" data-mdb-ripple-color="dark" href="#" routerLink="/profile/{{follower}}">@{{follower}}</button>
    </li>
  </div>
  <div class="modal-footer" style="width: 90%;">
    <button class="close btn btn-primary" (click)="closeFollowersModal()">Close</button>
  </div>
</div>

<!--Following modal-->
<div #followingModal class="modal">
  <div class="modal-header">
    Profiles @{{profile.profileHandle}} follows
  </div>
  <div class="modal-body">
    <li *ngFor="let followed of profile.following">
      <button class="btn zoom-btn btn-outline-success" style="margin: 3px; z-index: 1; background-color: #b0dfba;" data-mdb-ripple-color="dark" href="#" routerLink="/profile/{{followed}}">@{{followed}}</button>
    </li>
  </div>
  <div class="modal-footer" style="width: 90%;">
    <button class="close btn btn-primary" (click)="closeFollowingModal()">Close</button>
  </div>
</div>

<!--Workouts modal-->
<div #workoutsModal class="modal">
  <div class="modal-header">
    @{{profile.profileHandle}}'s Workouts
  </div>
  <div class="modal-body" *ngIf="checkWorkouts()">
    <li *ngFor="let workout of profile.workouts">
      <a class="nav-item btn btn-outline-success" style="color:#096A2E; margin:5px;" href="#" routerLink="/profile/{{workout}}">{{workout}}</a>
    </li>
  </div>
  <div class="modal-body" *ngIf="!checkWorkouts()">
    <a>This user doesn't have any workouts yet.</a>
  </div>
  <div class="modal-footer" style="width: 90%;">
    <button class="close btn btn-primary" (click)="closeWorkoutsModal()">Close</button>
  </div>
</div>
