<head>
  <style>
    h5 {
      text-align: center;
      margin-top: 12px;
    }
  </style>
</head>
<body>
  <div class="row min-vh-100 login-bg">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-9 col-xl-7">
          <div class="card">
            <div class="rounded-top text-white d-flex flex-row" style="background-color: #096A2E; height:50px;">
              <h5>Create post+</h5>
            </div>
            <div class="input-group input-group-sm">
              <textarea class="form-control" id="PostText" placeholder="What's on your mind?" aria-label="Post" ></textarea>
            </div>
            <div class="card-body p-4 text-black">
              <button
                type="button"
                id="editProfile"
                class="btn btn-secondary btn-active"
                data-mdb-ripple-color="dark"
                style="z-index: 1;"
                (click)="getPost()">
                Post
              </button>
              <button
                type="button"
                id="editProfile"
                class="btn btn-outline-success"
                data-mdb-ripple-color="dark"
                style="z-index: 1;"
                (click)="cancelPost()">
                Cancel
              </button>
              <div class="mb-3" style="margin-top: 50px;">
                <h1 class="lead fw-normal mb-0">Your current posts</h1>
                <div class="card" style="width: 25rem; margin-bottom: 5px;" *ngFor="let post of profile.posts">
                  <div class="card-body">
                    <p class="card-text">{{post}}</p>
                  </div>
                </div>
                <p *ngIf="!profile.posts">You haven't made any posts yet.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
