<div class="modal-header">
  <h4 class="modal-title" *ngIf="userProfile">Your Followers</h4>
  <h4 class="modal-title" *ngIf="!userProfile">@{{profile.profileHandle}}'s' Followers</h4>
  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ul class="list-group">
    <li *ngFor="let follower of followers" class="list-group-item list-group-item-action">
      <button routerLink="/profile/{{follower}}">@{{follower}}</button>
    </li>
  </ul>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="cancel()">Close</button>
</div>
