.custom-text-color {
  color: #0b8200;
}

h5 {
  font-weight: bold;
}

.timeline-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}

.timeline-day {
  flex: 1;
  text-align: center;
  padding: 1rem;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  cursor: pointer;
}

.timeline-day.active {
  background-color: #008817;
  color: #fff;
}

/* .chart-container {
  position: relative;
  height: 300px;
  width: 500px;
  padding: 20px;
  margin: 0 auto;
} */

.timeline-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
}

.timeline-day {
  text-align: center;
  background-color: #ffffff;
  color: #6c757d;
  font-weight: bold;
  box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  /* margin-left: 0.2rem;
  margin-right: 0.2rem;  */
}

.timeline-day:first-child {
  margin-left: 0;
}

.timeline-day:last-child {
  margin-right: 0;
}
