<h5 class="card-title custom-text-color mb-1 mt-3">Weekly Workout Tracker</h5>
<div class="timeline-container">
  <div *ngFor="let day of ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']"
       [ngClass]="{ 'active': isWorkoutCompletedOnDay(day) }"
       id="timeline-{{ day.toLowerCase() }}"
       class="timeline-day"
       [attr.data-day]="day">
    {{ day === 'Thursday' ? 'Th' : day.charAt(0) }}
  </div>
</div>
<h5 class="card-title custom-text-color mb-4">Workout History</h5>
<div class="d-flex justify-content-center">
  <div class="btn-group mt-2 mb-4" role="group" aria-label="Time range buttons">
    <button (click)="changeTimeRange('week')" [class.active]="selectedTimeRange === 'week'" class="btn btn-outline-success mx-1">Week</button>
    <button (click)="changeTimeRange('month')" [class.active]="selectedTimeRange === 'month'" class="btn btn-outline-success mx-1">Month</button>
    <button (click)="changeTimeRange('year')" [class.active]="selectedTimeRange === 'year'" class="btn btn-outline-success mx-1">Year</button>
  </div>
</div>
<div class="chart-container" style="position: relative; height: 50vh;">
  <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" ></canvas>
</div>
