.home-bg {
    background-image: url("https://images.unsplash.com/photo-1534438327276-14e5300c3a48?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Z3ltfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}

.card-home {
    margin-top: 2rem;
    min-height: 85%;
    border-color: #096A2E;
    padding: 48px;
}

.card-home-bg {
    background-image: linear-gradient(white, white, #73ff6c);
}

.home-section {
    margin-top: 10vh;
}