.home-bg {
  background-image: url("https://images.unsplash.com/photo-1534438327276-14e5300c3a48?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Z3ltfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-bg {
  background-color: #0d1117;
  /* background-image: url("https://st3.depositphotos.com/1777306/16407/v/600/depositphotos_164077706-stock-illustration-seamless-pattern-fitness-and-sport.jpg"); */
  background-image: url(/assets/workouts-tile-fh.png);
  background-repeat: repeat;
  background-size: auto;
}

.card-home {
  margin-top: 2rem;
  margin-bottom: 2rem;
  min-height: 85%;
  border-color: #096a19;
  padding: 2vw;
}

.card-home-bg {
  background-image: linear-gradient(white, white, #096a2e);
}

.home-section {
  margin-top: 10vh;
}

.logo-glow {
  filter: drop-shadow(0 0 0.5rem #009137);
}

.glow-small {
  filter: drop-shadow(0 0 1rem #00913867);
}

.card-transition {
  transition: 0.5s ease-in-out;
}

.nav-pills > li > a.active {
  background-color: #096a19 !important;
}
.nav-pills > li > a {
  color: #3eb951;
  transition: 0.5s;
}
.nav-pills > li > a:hover {
  color: #50fd6a;
  background-color: rgb(23, 27, 31);
}

.zoom-btn {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.zoom-btn:hover {
  transform: scale(1.05);
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.page-header-1 {
  background-color: #096a2e;
  color: white;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 8px;
}

.btn-close {
  position:absolute;
  top: 8px;
  right: 8px;
  color: white;
  outline: 1px solid black;
}

.modal-header-1 {
  background-color: #096a2e;
  color: white;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid black;
}

.no-border {
  border: none !important;
}

.fav-star {
  float: right;
  font-size: 1.5rem;
  color: #ffc107;
  cursor: pointer;
}

.fav-star:hover {
  transform: scale(1.1);
}

/* Post Styles */

.post-card {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.75);
  transition: 0.5s;
}

.post-header {
  /* font-size: 1.2rem; */
  background-color: #096a2e;
  border-color: #096a2e;
}

.post-img-wrapper {
  display: flex;
  justify-content: center;
  padding: 0;
  padding-bottom: 3rem;
  transition: 0.5s;
}

.post-img {
  transition: 0.5s;
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  /* border: 1px solid black; */
  max-height: 45vh;
}

.easeload{
  opacity: 0;
  -webkit-transition: all 1s ease; 
  -moz-transition: all 1s ease; 
  -ms-transition: all 1s ease; 
  -o-transition: all 1s ease; 
}

.btn-like {
  color: #096a2e;
  font-size: 1.5rem;
  cursor: pointer;
}

.btn-comment {
  color: #adadad;
  font-size: 1.5rem;
  cursor: pointer;
}

.cancel-comment {
  /* position: absolute; */
  /* top: 5%; */
  /* right: 2%; */
  cursor: pointer;
  font-size: 1.2rem;
}

.btn-grow {
  transition: 0.5s 'ease-in-out';
}
.btn-grow :hover {
  transform: scale(1.08);
  transition: 0.5s 'ease-in-out';
}

.card-new-workout {
  transition: 0.2s;
}

.card-new-workout .card{
  transition: 0.2s;
}

.card-new-workout:hover {
  transform: scale(1.02);
  color: green;
}

.card-new-workout:hover .card{
  border-color: green;
  background-color: rgb(218, 255, 206);
}

.card-social-feed-workout {
  background-color: rgb(235, 255, 229);
}