<head>
</head>
<body>
  <div class="row min-vh-100 login-bg">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-9 col-xl-7">
          <div class="card">
            <div class="rounded-top text-white d-flex flex-row" style="background-color: #096A2E; height:50px;">
              <h5>Edit Profile</h5>
            </div>
            <form>
              <div class="form-group" style="margin-bottom: 10px;">
                <label for="UpdateYourName">Your name:</label>
                <input class="form-control" id="profileName" placeholder="{{profile.profileName}}">
              </div>
              <div class="form-group" style="margin-bottom: 10px;">
                <label for="UpdateYourAge">Your age:</label>
                <input class="form-control" id="age" placeholder="{{profile.age}}">
              </div>
              <div class="form-group" style="margin-bottom: 10px;">
                <label for="UpdateYourWeight">Your current weight (lbs):</label>
                <input class="form-control" id="weight" placeholder="{{profile.weight}}">
              </div>
              <div class="form-group" style="margin-bottom: 10px;">
                <label for="UpdateYourAbout">About:</label>
                <textarea class="form-control" placeholder="{{profile.about}}" id="about" rows="5"></textarea>
              </div>
              <div>Profile Visibility:</div>
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary">
                  <input type="radio" name="Visibility" id="NoChangeRadio" autocomplete="off" value="NoChange" checked>
                  No change
                </label>
                <label class="btn btn-secondary">
                  <input type="radio" name="Visibility" id="PrivateRadio" autocomplete="off" value="Private">
                  Private
                  </label>
                <label class="btn btn-secondary">
                  <input type="radio" name="Visibility" id="PublicRadio" autocomplete="off" value="Public">
                  Public
                </label>
              </div>
            </form>
            <h5 style="margin-top: 25px;">Would you like to save all of your changes?</h5>
            <button class="btn btn-primary-dark btn-lg btn-outline-success" style="margin: 0;" data-mdb-ripple-color="dark" (click)="updateProfile()">
              Accept
            </button>
            <button class="btn btn-secondary bt-lg btn-outline-success;" style="margin: 0;" (click)="cancelEdit()">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
