<head>
  <style>
    h5 {
      text-align: center;
      margin-top: 12px;
    }
  </style>
</head>
<body>
  <div class="row min-vh-100 login-bg">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-9 col-xl-7">
          <div class="card">
            <div class="rounded-top text-white d-flex flex-row" style="background-color: #096A2E; height:50px;">
              <h5>Edit Profile</h5>
            </div>
            <form>
              <div class="form-group" style="margin-bottom: 10px;">
                <label for="UpdateYourName">Your name:</label>
                <input class="form-control" id="profileName" placeholder="{{profile.profileName}}">
              </div>
              <div class="form-group" style="margin-bottom: 10px;">
                <label for="UpdateYourAge">Your age:</label>
                <input class="form-control" id="age" placeholder="{{profile.age}}">
              </div>
              <div class="form-group" style="margin-bottom: 10px;">
                <label for="UpdateYourWeight">Your current weight (lbs):</label>
                <input class="form-control" id="weight" placeholder="{{profile.weight}}">
              </div>
              <div class="form-group" style="margin-bottom: 10px;">
                <label for="UpdateYourAbout">About:</label>
                <textarea class="form-control" placeholder="{{profile.about}}" id="about" rows="5"></textarea>
              </div>
              <div class="form-group" style="margin-bottom: 10px;">
                <div>
                  <label for="UpdateProfileVisibility">Profile Visibility (Private selected by default):</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="Visibility" id="NoChangeRadio" value="NoChange" checked>
                  <label class="form-check-label" for="exampleRadios1">
                    Do not change
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="Visibility" id="PrivateRadio" value="Private">
                  <label class="form-check-label" for="exampleRadios1">
                    Private (Only people I follow and follow me can see my personal details)
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="Visibility" id="PublicRadio" value="Public">
                  <label class="form-check-label" for="exampleRadios2">
                    Public (Everyone can see my personal details)
                  </label>
                </div>
              </div>
            </form>
            <h5 style="margin-top: 25px;">Would you like to save all of your changes?</h5>
            <button class="btn btn-primary-dark btn-lg btn-outline-success" style="color: #096A2E; margin: 0;" (click)="updateProfile()">
              Accept
            </button>
            <button class="btn btn-secondary bt-lg btn-outline-success;" style="margin: 0;" (click)="cancelEdit()">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
