<div class="row home-bg min-vh-100">
  <div class="col"></div>
  <div class="col-8 col-xl-5 text-center">
    <div class="card card-home card-home-bg">
      <div class="card-body">
        <div class="row">
          <div class="col-4 offset-4">
            <img src="../../../assets/Logo1/png/logo-no-background.png" class="img-fluid">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <h1 class="display-3">Welcome to FitHub</h1>
            <h5>Transform Your Body, Transform Your Life</h5>
          </div>
        </div>
        <div class="row justify-content-evenly home-section">
          <div class="col-auto">
            <h3>Returning User?</h3>
            <button class="btn btn-lg btn-warning" routerLink="login">Login</button>
          </div>
          <div class="col-auto">
            <h3>New Here?</h3>
            <button class="btn btn-lg btn-warning">Create an Account</button>
          </div>
        </div>
        <div class="row home-section">
          <div class="col">
            <h1 class="display-6">About FitHub</h1>
            <p>
              FitHub is a comprehensive fitness website that provides a variety of resources for
              individuals seeking to improve their overall health and wellness. With a focus on
              both physical fitness and mental well-being, FitHub offers a range of workout plans,
              nutrition advice, and motivational content to help users achieve their goals. Whether
              you're a seasoned fitness enthusiast or just starting out on your wellness journey,
              FitHub has something to offer, with user-friendly interfaces and expert guidance to
              help you reach your full potential.
            </p>
          </div>
        </div>
        <div class="row home-section">
          <h1 class="display-6">About the Creators</h1>
          <p>
            FitHub was founded by four passionate college seniors who wanted to create a platform 
            that would inspire and motivate people to lead healthier lifestyles. With a shared love 
            of fitness and a desire to make a positive impact on the world, they pooled their skills 
            and resources to create the website from scratch. From designing the user interface to 
            researching and curating content, the trio worked tirelessly to bring their vision to 
            life. They consulted with fitness experts and nutritionists to ensure that the information 
            on their website was accurate and useful, and spent countless hours testing and refining 
            the platform to make it as user-friendly as possible.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col"></div>
</div>
<!-- <div class="container">
    <div class="row mt-5">
        <div class="col text-center" style="margin-top: 10%;">
            <h1>Welcome to FitHub!!</h1>
            <h4>Coming soon...</h4>
        </div>
        <div class="col">
            <img src="../../../assets/Logo2/png/logo-no-background.png" class="img-fluid">
        </div>
    </div>

    
</div> -->