.row.h-50 {
  min-height: 50vh;
}

.card.custom-height {
  min-height: 50vh;
}

.custom-text-color {
  color: #0b8200;
}

h1 {
  font-weight: bold;
}

h5 {
  font-weight: bold;
}

h6 {
  font-weight: bold;
}

.card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  background-color: rgba(255, 255, 255, 0.85);
}

.card:hover {
  transform: scale(1.005);
  /* box-shadow: 0 7px 14px rgba(255, 255, 255, 0.527); */
}

.tip {
  opacity: 0;
  transition: opacity 3s;
}

.tip.fade {
  opacity: 1;
}

.tip-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 5rem;
}

.tip-container li {
  position: absolute;
  max-width: 100%;
  padding: 1rem;
}

.feed-section {
  position: fixed;
  z-index: 2;
  height: calc(90vh - 0.5rem);
  width: 17%;
  padding-left: 2rem;
}

.feed-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.main-content {
  padding-left: 18%;
}

@media (max-width: 991.98px) {
  .feed-section {
    position: inherit;
    height: auto;
    width: 100%;
    padding: 0;
  }

  .feed-card {
    height: auto;
  }

  .main-content {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
}


