<div class="row min-vh-100 main-bg">
  <div class="container mt-4">
    <div class="row">
      <div class="col-12 col-lg-2 d-flex">
        <div class="card w-100 min-vh-100 d-flex flex-column mb-4">
          <div class="card-body text-center">
            <h5 class="card-title custom-text-color">Feed</h5>
            <!-- Favorite Workouts -->
            <div class="bg-light p-3 rounded mb-3">
              <h6 class="custom-text-color mb-3 pb-2 border-bottom border-dark">Favorite Workouts</h6>
              <div *ngFor="let workout of favoriteWorkouts" class="bg-white p-3 mb-2 rounded shadow-sm d-flex justify-content-between align-items-center">
                <a [routerLink]="['/workout', workout.id]" class="text-decoration-none text-dark ">{{ workout.name }}</a>
                <i class="fas fa-heart text-danger"></i>
              </div>
            </div>
            <!-- Goals and Achievements -->
            <div class="bg-light p-3 rounded mb-3">
              <h6 class="custom-text-color mb-3 pb-2 border-bottom border-dark">Recent Achievements</h6>
              <ul class="list-unstyled">
                <li *ngFor="let achievement of recentAchievements" class="text-dark mb-2">
                  <i class="faAward text-warning"><fa-icon [icon]="faAward" ></fa-icon></i> {{ achievement.description }}
                </li>
              </ul>
            </div>
            <!-- Personalized Tips -->
            <div class="bg-light p-3 rounded">
              <h6 class="custom-text-color mb-3 pb-2 border-bottom border-dark">Personalized Tips</h6>
              <ul class="list-unstyled">
                <li *ngFor="let tip of personalizedTips" class="text-dark mb-2">
                  <i class="faLightbulb text-warning"><fa-icon [icon]="faLightbulb" ></fa-icon></i> {{ tip.description }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-10 d-flex flex-column">
        <div class="row d-flex">
          <div class="col-12 col-lg-4 d-flex">
            <div class="card mb-4 w-100 align-self-stretch custom-height">
              <div class="card-body text-center d-flex flex-column justify-content-center">
                <h5 class="card-title custom-text-color">My Progress</h5>
                <div class="progress-wrapper">
                  <svg class="progress-ring" width="200" height="200">
                    <circle class="progress-ring__circle" stroke="lightgrey" stroke-width="30" fill="transparent" r="82" cx="100" cy="100" />
                    <circle class="progress-ring__circle progress-ring__circle--value" stroke="Green" stroke-width="30" [attr.stroke-dasharray]="circumference" [attr.stroke-dashoffset]="strokeDashoffset" fill="transparent" r="82" cx="100" cy="100" />
                  </svg>
                  <span class="progress-value h3 font-weight-bold">{{progressValue}}<sup class="small">%</sup></span>
                </div>
                <p class="card-text mt-3">{{progressSummary}}</p>
                <button routerLink="/progress" class="btn btn-outline-success" data-mdb-ripple-color="dark">View My Progress</button>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-8 d-flex">
            <div class="card mb-4 w-100 align-self-stretch custom-height">
              <div class="card-body text-center">
                <h5 class="card-title custom-text-color">Workout History</h5>
                <div class="d-flex justify-content-center mb-3">
                  <div class="btn-group mt-2 mb-4" role="group" aria-label="Time range buttons">
                    <button (click)="changeTimeRange('week')" [class.active]="selectedTimeRange === 'week'" class="btn btn-outline-success mx-1">Week</button>
                    <button (click)="changeTimeRange('month')" [class.active]="selectedTimeRange === 'month'" class="btn btn-outline-success mx-1">Month</button>
                    <button (click)="changeTimeRange('year')" [class.active]="selectedTimeRange === 'year'" class="btn btn-outline-success mx-1">Year</button>
                  </div>
                </div>
                <div class="chart-container" style="position: relative;">
                  <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-auto mb-4">
          <div class="col-12">
            <div class="card w-100 align-self-center custom-height">
              <div class="card-body text-center">
                <div class="container mt-5">
                  <div class="row">
                    <div class="col-12 text-center">
                      <h1 class="mb-5">Explore Our Features</h1>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 mb-4">
                      <div class="card h-100">
                        <img src="assets/Images/MainFeature.jpg" class="card-img-top" alt="Main Feature">
                        <div class="card-body">
                          <h4 class="card-title">Main Feature</h4>
                          <p class="card-text">Description of the main feature.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="row">
                        <div class="col-md-6 mb-4">
                          <div class="card h-100">
                            <img src="assets/Images/Feature1.jpg" class="card-img-top" alt="Feature 1">
                            <div class="card-body">
                              <h5 class="card-title">Feature 1</h5>
                              <p class="card-text">Description of the first feature.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6 mb-4">
                          <div class="card h-100">
                            <img src="assets/Images/Feature2.jfif" class="card-img-top" alt="Feature 2">
                            <div class="card-body">
                              <h5 class="card-title">Feature 2</h5>
                              <p class="card-text">Description of the second feature.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6 mb-4">
                          <div class="card h-100">
                            <img src="assets/Images/Feature3.jpg" class="card-img-top" alt="Feature 3">
                            <div class="card-body">
                              <h5 class="card-title">Feature 3</h5>
                              <p class="card-text">Description of the third feature.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6 mb-4">
                          <div class="card h-100">
                            <img src="assets/Images/Feature4.jpg" class="card-img-top" alt="Feature 4">
                            <div class="card-body">
                              <h5 class="card-title">Feature 4</h5>
                              <p class="card-text">Description of the fourth feature.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
